<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->


<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lora:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
<!-- Fonts -->


<!-- MathJax CDN -->
<!-- <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script> -->
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<!-- MathJax CDN -->


<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css"/>
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
      href="{{ site.baseurl }}/feed.xml"/>